{% extends "base.html" %}

{% block content %}

<!-- Page content -->
<div class="content">
  <!-- Services -->
  <div class="container" id="services">
    <h2 class="center">Chatbot Demos</h2>
    <!-- Services -->

    <div class="row" id="projects">

      <div class="col">
        <a href='/chat_bot'>
          <div class="card">
            <div class="card-title">BusinessAI</div>
            <img class="project-image" src="https://a.storyblok.com/f/167495/1200x663/a475521e88/ai-in-business.jpeg"
              alt="BusinessAI">
          </div>
        </a>
      </div>

      <div class="col">
        <a href='/motor_bot'>
          <div class="card">
            <div class="card-title">BikeBot</div>
            <img class="project-image" src="https://s3.amazonaws.com/aiappsinc.com/ben_bike.jpg" alt="BikeBot">
          </div>
        </a>
      </div>


      <div class="col">
        <a href='/health_bot'>
          <div class="card">
            <div class="card-title">HealthyBot</div>
            <img class="project-image"
              src="https://www.philips.com/c-dam/corporate/newscenter/global/standard/resources/healthcare/2023/10-healthcare-technology-trends-for-2023/header-2023-healthcare-technology-trends.jpg"
              alt="HealthyBot">
          </div>
        </a>
      </div>
    </div>
    <!-- End page content -->
  </div>
</div>

{% endblock %}