{% extends "base.html" %}

{% block content %}
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1200px;" id="home">
  <img class="w3-image"
    src="https://www.tripsavvy.com/thmb/_uFzK139Y5r-34narMZL_k_ThZk=/4207x3155/smart/filters:no_upscale()/fire-in-the-sky-540790033-59ab05ce0d327a0011948475.jpg"
    alt="Architecture" width="1200" height="500">
  <div class="button-below-center">
    <a href="services.html" class="w3-button w3-black w3-text-white ">Service Catalogue</a>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Contact Section -->
  <div class="container my-4" id="contact">
    <div class="row">
      <div class="col-12 text-center text-md-left">
        <h3 class="border-bottom border-light pb-2">Contact</h3>
        <p class="my-3">Let's talk about your next project.</p>

        <a class="w3-button w3-black w3-section" href="mailto:contact@aiappsinc.com" role="button">
          <i class="fa fa-paper-plane mr-2"></i> contact@aiappsinc.com
        </a>

        <a class="w3-button w3-black w3-section " href="https://forms.office.com/r/aQngnb8KGa" role="button"
          target="_blank">
          <i class="fa fa-pencil-square-o mr-2"></i> Submit a Proposal
        </a>
      </div>
    </div>
  </div>

  <!-- End page content -->
</div>

{% endblock %}