{% extends "base.html" %}

{% block content %}

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->


  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="border-bottom border-light pb-2" style="font-size: 2em; font-weight: bold;">Automated Cloud
      Infrastructure, Data Pipelines & Serverless Systems: Streamlining Your Business Operations</h3>
    <p>
      AI Apps specializes in Cloud Infrastructure and Data Pipelines services:
    </p>
    <ul>
      <li>
        <strong>Automated Cloud Infrastructures:</strong> We setup automated cloud infrastructures that provide reliable
        and scalable solutions for your business, capable of handling large amounts of data and high traffic.
      </li>
      <li>
        <strong>Data Pipelines:</strong> Our services also include building efficient data pipelines, which are crucial
        for smooth data ingestion and processing, forming the backbone of many AI solutions.
      </li>
      <li>
        <strong>Serverless Architectures:</strong> We are experts in creating and managing serverless architectures. Our
        serverless system implementations reduce operational demands on your business, offering scalability and
        cost-effectiveness as you pay only for the compute time consumed.
      </li>
      <li>
        <strong>AWS and ETL Jobs:</strong> Our expertise in AWS serverless systems and ETL jobs ensures seamless data
        flow in your business's data operations.
      </li>
      <li>
        <strong>Productivity and Cost-effectiveness:</strong> By abstracting away server management and maintenance
        tasks, we help increase your productivity and reduce costs.
      </li>
    </ul>
    <p>
      The team at AI Apps is dedicated to understanding your unique business needs and translating them into effective
      cloud solutions that deliver real results. Experience the power of automation and serverless systems with AI Apps,
      and let us help you streamline your business operations and unlock the full potential of AI.
    </p>

  </div>

  <!-- Video Embed Section -->
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://app.visla.us/embed/1130497612156346368"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" allowfullscreen>
    </iframe>
  </div>


  <!-- Contact Section -->
  <div class="container my-4" id="contact">
    <div class="row">
      <div class="col-12 text-center text-md-left">
        <h3 class="border-bottom border-light pb-2">Contact</h3>
        <p class="my-3">Let's talk about your next project.</p>

        <a class="w3-button w3-black w3-section w3-button-rounded" href="mailto:contact@aiappsinc.com" role="button">
          <i class="fa fa-paper-plane mr-2"></i> contact@aiappsinc.com
        </a>

        <a class="w3-button w3-black w3-section w3-button-rounded" href="https://forms.office.com/r/aQngnb8KGa"
          role="button" target="_blank">
          <i class="fa fa-pencil-square-o mr-2"></i> Submit a Proposal
        </a>
      </div>
    </div>
  </div>


  <!-- End page content -->
</div>

{% endblock %}