{% extends "base.html" %}

{% block content %}

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->


  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="border-bottom border-light pb-2" style="font-size: 2em; font-weight: bold;">Private Chatbots
      Custom-Built for Your Business</h3>
    <p>
      AI Apps specializes in AI Chatbot Development services:
    </p>
    <ul>
      <li>
        <strong>Future of Customer Interaction:</strong> Experience a new age of customer interaction with our AI
        chatbots. They're designed to provide prompt responses and assistance to your customers, revolutionizing your
        customer support experience.
      </li>
      <li>
        <strong>Internal Communication Efficiency:</strong> Our chatbots also streamline internal communications,
        enhancing collaboration and efficiency within your team.
      </li>
      <li>
        <strong>Integration with Proprietary Files:</strong> Each of our chatbots is crafted to integrate with your
        proprietary company files, ensuring a seamless fit into your business operations.
      </li>
      <li>
        <strong>High Security Standards:</strong> With our focus on security, our chatbots maintain the highest level
        of privacy standards. We prioritize the confidentiality of your data, ensuring your sensitive information
        remains secure.
      </li>
      <li>
        <strong>Customized and Private Chatbots:</strong> We offer specialized, private chatbots that are tailored to
        your business's specific needs. Discover the potential of AI with our bespoke solutions.
      </li>
    </ul>
    <p>
      The team at AI Apps is dedicated to understanding your unique business needs and translating them into effective
      chatbot solutions that deliver real results. With AI Apps, you can transform the way your business operates,
      achieving greater customer satisfaction and internal efficiency.
    </p>

  </div>

  <!-- Video Embed Section -->
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://app.visla.us/embed/1130463023576752128"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" allowfullscreen>
    </iframe>
  </div>


  <!-- Contact Section -->
  <div class="container my-4" id="contact">
    <div class="row">
      <div class="col-12 text-center text-md-left">
        <h3 class="border-bottom border-light pb-2">Contact</h3>
        <p class="my-3">Let's talk about your next project.</p>

        <a class="w3-button w3-black w3-section w3-button-rounded" href="mailto:contact@aiappsinc.com" role="button">
          <i class="fa fa-paper-plane mr-2"></i> contact@aiappsinc.com
        </a>

        <a class="w3-button w3-black w3-section w3-button-rounded" href="https://forms.office.com/r/aQngnb8KGa"
          role="button" target="_blank">
          <i class="fa fa-pencil-square-o mr-2"></i> Submit a Proposal
        </a>
      </div>
    </div>
  </div>



  <!-- End page content -->
</div>

{% endblock %}