{% extends "base.html" %}

{% block content %}

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->


  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="border-bottom border-light pb-2" style="font-size: 2em; font-weight: bold;">eCommerce Software
      Development Service</h3>
    <p>
      AI Apps specializes in eCommerce Software Development services:
    </p>
    <ul>
      <li>
        <strong>Customized eCommerce Solutions:</strong> We develop custom solutions designed to meet your specific
        eCommerce needs. Every solution we provide is unique to your business, tailored to boost your online sales and
        customer engagement.
      </li>
      <li>
        <strong>Intuitive Payment Gateways:</strong> Our service includes the development of intuitive and secure
        payment gateways, making transactions smooth and convenient for your customers while enhancing the overall user
        experience.
      </li>
      <li>
        <strong>Dynamic Online Catalogues:</strong> We create dynamic online catalogues that are easy to navigate,
        providing your customers with a seamless shopping experience.
      </li>
      <li>
        <strong>Intelligent Product Suggestion Systems:</strong> Leveraging advanced AI technology, we develop
        intelligent product suggestion systems that recommend products to your customers based on their browsing history
        and preferences.
      </li>
      <li>
        <strong>Collaborative Approach:</strong> We collaborate with your team throughout the development process,
        ensuring the final product integrates smoothly with your existing systems and meets your business objectives.
      </li>
    </ul>
    <p>
      The team at AI Apps is dedicated to understanding your specific business needs and translating them into effective
      eCommerce solutions that deliver real results.
    </p>

  </div>

  <!-- Video Embed Section -->

  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://app.visla.us/embed/1130481035943976960"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" allowfullscreen>
    </iframe>
  </div>


  <!-- Contact Section -->
  <div class="container my-4" id="contact">
    <div class="row">
      <div class="col-12 text-center text-md-left">
        <h3 class="border-bottom border-light pb-2">Contact</h3>
        <p class="my-3">Let's talk about your next project.</p>

        <a class="w3-button w3-black w3-section w3-button-rounded" href="mailto:contact@aiappsinc.com" role="button">
          <i class="fa fa-paper-plane mr-2"></i> contact@aiappsinc.com
        </a>

        <a class="w3-button w3-black w3-section w3-button-rounded" href="https://forms.office.com/r/aQngnb8KGa"
          role="button" target="_blank">
          <i class="fa fa-pencil-square-o mr-2"></i> Submit a Proposal
        </a>
      </div>
    </div>
  </div>



  <!-- End page content -->
</div>

{% endblock %}