{% extends "base.html" %}

{% block content %}


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->


  <!-- Customized Software Service Section -->
  <div class="container my-4" id="customized-software">
    <div class="row">
      <div class="col-12">
        <h3 class="border-bottom border-light pb-2" style="font-size: 2em; font-weight: bold;">Customized Apps Service
        </h3>
        <p>
          Our Customized Apps Service offers an expansive portfolio covering an extensive array of solutions:
        </p>
        <ul>
          <li>
            <strong>Custom Software Development:</strong> We create highly adaptable, scalable, and robust software
            solutions that support your business strategy and aid in fostering growth. Every line of code we write is
            tuned to resonate with your business model, ensuring a seamless integration and operation.
          </li>
          <li>
            <strong>Mobile App Development:</strong> From simple, engaging apps to complex, interactive experiences,
            we craft custom mobile applications for various platforms. Our mobile app solutions not only enhance
            customer engagement but also facilitate an intuitive user experience that encourages customer loyalty.
          </li>
          <li>
            <strong>Database Solutions:</strong> Our team designs, develops, and manages sophisticated database
            systems. We ensure your data is well-structured, secure, and efficiently managed, resulting in seamless
            data flow and improved decision-making process.
          </li>
          <li>
            <strong>AI Systems:</strong> Step into the future with our artificial intelligence solutions. We
            incorporate AI and machine learning technologies to automate processes, improve business efficiency, and
            provide insightful data analytics. Harness the power of AI with us to stay ahead in the digital race.
          </li>
          <li>
            <strong>Infrastructure Management:</strong> We take care of the complex task of managing your IT
            infrastructure. Our experienced team helps you to reduce operational costs, minimize risks, and improve
            the efficiency of your IT operations, allowing you to focus more on your core business operations.
          </li>
        </ul>
        <p>
          Our team at AI Apps is a synergistic blend of experienced developers, creative designers, skilled engineers,
          and strategic thinkers who work together to craft software solutions that are not only technologically
          advanced but also business-driven. We are committed to understanding your business needs, and translating
          them into custom software that delivers real results.
        </p>
        <p>
          At AI Apps, we create software that grows with your business. Allow us to take your business to new heights
          with our custom software solutions. Because here at AI Apps, we believe that your success is our success.
        </p>
      </div>
    </div>
  </div>

  <!-- Video Embed Section -->
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://app.visla.us/embed/1130849974557356032"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" allowfullscreen>
    </iframe>
  </div>



  <!-- Contact Section -->
  <div class="container my-4" id="contact">
    <div class="row">
      <div class="col-12 text-center text-md-left">
        <h3 class="border-bottom border-light pb-2">Contact</h3>
        <p class="my-3">Let's talk about your next project.</p>

        <a class="w3-button w3-black w3-section w3-button-rounded" href="mailto:contact@aiappsinc.com" role="button">
          <i class="fa fa-paper-plane mr-2"></i> contact@aiappsinc.com
        </a>

        <a class="w3-button w3-black w3-section w3-button-rounded" href="https://forms.office.com/r/aQngnb8KGa"
          role="button" target="_blank">
          <i class="fa fa-pencil-square-o mr-2"></i> Submit a Proposal
        </a>
      </div>
    </div>
  </div>



  <!-- End page content -->
</div>
{% endblock %}