{% extends "base.html" %}

{% block content %}

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->


  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="border-bottom border-light pb-2" style="font-size: 2em; font-weight: bold;">AI-Powered Marketing
      Automation: Stress-Free Social Media Management</h3>
    <p>
      AI Apps specializes in marketing automation services:
    </p>
    <ul>
      <li>
        <strong>Social Media Automation:</strong> We develop personalized tools that schedule and publish your posts
        across various social media channels, optimizing timing based on your audience's activity.
      </li>
      <li>
        <strong>Email Marketing Automation:</strong> Our custom solutions automate your email marketing efforts, from
        sending tailored emails to segmenting your audience. We build systems that can predict the optimal time to send
        emails, enhancing open rates.
      </li>
      <li>
        <strong>Content Generation:</strong> Our services incorporate natural language processing (NLP) to help generate
        bespoke content for your marketing needs, including blog posts and social media updates.
      </li>
      <li>
        <strong>Customer Segmentation and Personalization:</strong> We design AI technology that identifies patterns and
        segments your customers based on their behaviors and preferences, enabling personalized marketing campaigns for
        each segment.
      </li>
      <li>
        <strong>Performance Analytics:</strong> We implement AI-driven analytics into your tools, enabling you to
        measure the effectiveness of your marketing campaigns, gain audience insights, and make data-driven decisions.
      </li>
      <li>
        <strong>AI Chatbots:</strong> We customize AI chatbots to automate your customer service. They handle FAQs,
        guide users through your website, and assist with lead generation 24/7.
      </li>
    </ul>
    <p>
      The team at AI Apps collaboratively works with you to ensure each service we build integrates seamlessly with your
      marketing strategy. We are dedicated to understanding your specific business needs and translating them into
      effective, custom marketing solutions that deliver real results.
    </p>


  </div>

  <!-- Video Embed Section -->

  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://app.visla.us/embed/1130473816183644160"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" allowfullscreen>
    </iframe>
  </div>


  <!-- Contact Section -->
  <div class="container my-4" id="contact">
    <div class="row">
      <div class="col-12 text-center text-md-left">
        <h3 class="border-bottom border-light pb-2">Contact</h3>
        <p class="my-3">Let's talk about your next project.</p>

        <a class="w3-button w3-black w3-section w3-button-rounded" href="mailto:contact@aiappsinc.com" role="button">
          <i class="fa fa-paper-plane mr-2"></i> contact@aiappsinc.com
        </a>

        <a class="w3-button w3-black w3-section w3-button-rounded" href="https://forms.office.com/r/aQngnb8KGa"
          role="button" target="_blank">
          <i class="fa fa-pencil-square-o mr-2"></i> Submit a Proposal
        </a>
      </div>
    </div>
  </div>


  <!-- End page content -->
</div>

{% endblock %}